

body {
  font-size: 5px;
  width: 7%;
  margin-left: auto;
  margin-right: auto;
}

legend {
  color: darkred;
}

th {
  padding: 0.6rem;
  font-size: 5px;
}

table {
  margin: 2px;
}

h1 {
  color: black;
}

.rules {
  padding-bottom: 3px;
  color: red;
}
button {
    width: 7%;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color:gray;
    padding: 3px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        width : 7%;
        padding : 0px;
    }
    .title {
        font-size: 12px
    }
    td {
        font-size: 8px
    }
    .gol_darah {
        margin-left : 5px;
    }
  }

@media only screen and (max-width: 360px) {
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        width : 7%;
        padding : 0px;
    }
    .title {
        font-size: 7px
    }
    td {
        font-size: 5px
    }
    .gol_darah {
        margin-left : 2px;
    }
  }
 
